#container {
    width: 530px;
    padding: 100px;
    margin: auto;
    /* border: 1px solid black; */
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.gridSquare {
    flex: 1 1 auto;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}